<div class="container">
<div class="row">
  <div class="card col s12">
    <div class="icon">            
      <p class="">Affiliate Data</p>
      <div class="row">
        <div class="col s12 m3 l2">
          <label for="pName">Prefix: </label>
          <input readonly id="pName" type="text"/>
        </div>
        <div class="col s12 m3 l2">
          <label for="lName">LastName: </label>
          <input readonly id="lName" type="text"/>
        </div>
        <div class="col s12 m3 l2">
          <label for="fName">FirstName: </label>            
          <input readonly id="fName" type="text"/>
        </div>
        <div class="col s12 m3 l2">
          <label for="gender">Gender: </label>            
          <input readonly id="gender" type="text"/>
        </div>
        <div class="col s12 m3 l2">
          <label for="bDate">Birthday: </label>            
          <input readonly id="bDate" type="date"/>
        </div>
        <div class="col s12 m3 l2">
          <label for="dDate">Day of Death: </label> 
          <input readonly id="dDate" type="date"/>
        </div>
      </div> 
      <p>Partner Data</p>
      <div class="row yellow lighten-5">
        <div class="col s12 m3 ">
          <label for="pPName">Partner Prefix: </label>
          <input readonly id="pPName" type="text"/>
        </div>
        <div class="col s12 m3">
          <label for="lPName">Partner LastName: </label>
          <input readonly id="lPName" type="text" />
        </div>
        <div class="col s12 m3">
          <label for="fPName">Partner FirstName: </label>            
          <input readonly id="fPName" type="text" />
        </div>
      </div>  
      <p>Address Data</p>
      <div class="row blue lighten-5">
        <div class="col s12 m3 ">
          <label for="streetName">Street: </label>
          <input readonly id="streetName" type="text"/>
        </div>
        <div class="col s12 m3">
          <label for="suffix1">Suffix 1: </label>
          <input readonly id="suffix1" type="text" />
        </div>
        <div class="col s12 m3">
          <label for="suffix2">Suffix 2: </label> 
          <input readonly id="suffix2" type="text" />
        </div>
        <div class="col s12 m3">
          <label for="suffix3">Suffix 3: </label>            
          <input readonly id="suffix3" type="text" />
        </div>
        <div class="col s12 m3">
          <label for="postalcode">Postalcode: </label> 
          <input readonly id="postalcode" type="text" />
        </div>
        <div class="col s12 m6">
          <label for="city">City: </label>            
          <input readonly id="city" type="text" />
        </div>
        <div class="col s12 m3">
          <label for="country">Country: </label>            
          <input readonly id="country" type="text" />
        </div>
      </div>  
    </div>
</div>
    </div>
</div>